@()(implicit request: RequestHeader)

@scripts = {
    <script src="@routes.Assets.at("javascripts/jquery.jsPlumb-1.6.3.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/rsp.js")" type="text/javascript"></script>
}

@styles = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jsplumb.css")">
}

@main("RSP - Flow", scripts, styles) {
    <div class="container-fluid" id="container">
    <div class="col-xs-2 btn-group btn-group-vertical" data-toggle="buttons">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="mode" value="move"><span class="glyphicon glyphicon-move pull-left"></span> Move
            </label>
            <label class="btn btn-default active">
                <input type="radio" name="mode" value="add" checked><span class="glyphicon glyphicon-plus pull-left"></span> Add
            </label>
            <label class="btn btn-default">
                <input type="radio" name="mode" value="remove"><span class="glyphicon glyphicon-minus pull-left"></span> Remove
            </label>
        </div>
        &nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="nodetype" value="FlowSource" checked><span class="glyphicon glyphicon-cloud pull-left"></span> Twitter
            </label>
            <label class="btn btn-default">
                <input type="radio" name="nodetype" value="FlowFilter"><span class="glyphicon glyphicon-filter pull-left"></span> Filter
            </label>
            <label class="btn btn-default">
                <input type="radio" name="nodetype" value="FlowFrequency"><span class="glyphicon glyphicon-stats pull-left"></span> Freq. Cnt.
            </label>
            <label class="btn btn-default">
                <input type="radio" name="nodetype" value="FlowTokenizer">Tokenizer
            </label>
            <label class="btn btn-default">
                <input type="radio" name="nodetype" value="option3">...
            </label>
        </div>
    </div>
        <div class="col-xs-10" id="content">
            <div class="demo flowchart-demo" id="flowchart-demo">

            </div>
        </div>
    </div>
}
